RewriteEngine On
#RewriteCond %{HTTP_HOST} !^www.sabbirahammed.epizy.com$
#RewriteRule ^(.*)$ https://www.sabbirahammed.epizy.com/$1 [R=301,L]

#RewriteRule ^(AdminBBeats|ConTrolsBeats|english|archives|phpmyadmin|videogallery)($|/) - [L]